@{ 
    ViewBag.Title = "Noticias";
}

<!DOCTYPE html>
<html>
<head>
    <title>Noticias</title>
    <meta charset="utf-8" />
    <link href="~/Utils/css/background.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Utils/css/main.css">
</head>
<body>
    <span class="titulo">
        Noticias
    </span>

    <table class="table table-hover well">

        <tr>
            <th>Noticia</th>
            <th>Autor</th>
            <th>Fecha</th>
        </tr>
        @foreach(Planetario.Models.NoticiaModel noticia in ViewBag.noticias)
            {
                <tr>
                    <td>@Html.ActionLink(noticia.titulo, "verNoticia", "Noticias", new {stringId = @noticia.id.ToString()}, null)</td>
                    <td>@noticia.correoAutor</td>
                    <td>@noticia.fecha</td>
                </tr>
            }
    </table>
</body>
</html>