body {
    margin: 0;
    padding: 0;
    background-color: #1D2D50;
}

div#memory_board {
    background: #34495e; /*rgb(128, 91, 91);*/
    border: #000 1px solid;
    width: 986px;
    height: 750px;
    padding: 24px;
    margin: 0px auto;
}

    div#memory_board > div {
        background: url("../images/cobertura.png");
        border: #000 2px solid;
        border-radius: 10px;
        width: 145px;
        height: 145px;
        float: left;
        margin: 10px;
        padding: 20px;
        cursor: pointer;
    }

h1, h3 {
    text-align: center;
    color: #fff;
}

h1 {
    margin-top: 40px;
}

button {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
    position: relative;
    top: 40%;
    left: 45%;
}