<h1>Horario:</h1>
<div id="s1" class="seccion_1">
    <table class="table-bordered" style="height: 54px;">
        <tbody>
            <tr style="height: 18px;">

                <td style="height: 18px; width: 180px; text-align: center;">Lunes - Viernes</td>
                <td style="height: 18px; width: 180px; text-align: center;">8:00 &ndash; 16:00</td>

            </tr>
            <tr style="height: 18px;">

                <td style="height: 18px; width: 180px; text-align: center;">S&aacute;bado</td>
                <td style="height: 18px; width: 180px; text-align: center;">10:00  &ndash; 19:00</td>

            </tr>
            <tr style="height: 18px;">

                <td style="height: 18px; width: 180px; text-align: center;">Domingo</td>
                <td style="height: 18px; width: 180px; text-align: center;">Cerrado todo el d&iacute;a</td>

            </tr>
        </tbody>
    </table>
</div>
<br />
<div id="s2" class="seccion_2">
    <h1>Transporte:</h1>
    <p>El transporte consistirá de un microbus que recorrerá la zona cercana al planetario</p>
    <table class="table-bordered" style="height: 54px;">
        <tbody>
            <tr style="height: 18px;">

                <td style="height: 18px; width: 180px; text-align: center;">Lunes - Viernes</td>
                <td style="height: 18px; width: 410px; text-align: center; ">8:00, 9:00, 10:00, 11:00, 12:00, 13:00, 14:00</td>
            
            </tr>
            <tr style="height: 18px;">

                <td style="height: 18px; width: 180px; text-align: center;">S&aacute;bado</td>
                <td style="height: 18px; width: 410px; text-align: center; ">10:00, 11:00, 12:00, 13:00, 14:00, 15:00, 16:00, 17:00</td>
            
            </tr>
            <tr style="height: 18px;">

                <td style="height: 18px; width: 180px; text-align: center;">Domingo</td>
                <td style="height: 18px; width: 410px; text-align: center; ">No funciona el transporte</td>
            
            </tr>
        </tbody>
    </table>
</div>
<br />
<div id="s3" class="seccion_3">

    <h1>Estacionamiento:</h1>
    <p>El estacionamiento consistirá de 50 parqueos para carros que se encuentran al aire libre. 5 de estos son para gente con discapacidad.
    Tambien se cuentan con 10 parqueos para motos.<br />El estacionamiento a la misma hora que abre el planetario y cierra una hora después 
    de que el planetario haya cerrado.</p>

</div>