<!DOCTYPE html>
<html>
<head>
    <title>Informacion Basica Planetario</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1> Informacion del planetario: </h1>

    <div class="seccion_1" id="s1">
        <ul>
            <li>
                Nombre:Planetario Halley
            </li>

            <li>
                Mision: <br>
                <p align="justify">
                    Construir comunidades alrededor del
                    conocimiento científico, artístico y tecnológico,
                    donde la diversidad de saberes y la comunicación con
                    nuestros públicos incidan en la transformación de la
                    sociedad por medio de un diálogo horizontal e incluyente.
                </p>
            </li>

            <li>
                Vision: <br>
                <p align="justify">
                    En el Planetario Halley buscamos estimular los procesos creativos y el interés por el quehacer científico en el país,
                    a través de la exploración de diversos lenguajes de comunicación.
                    Con este propósito, queremos construir una red interdisciplinaria en las áreas de divulgación y educación a través del fortalecimiento de los espacios y canales que posibilitan el diálogo y el intercambio a nivel local e internacional.
                </p>
            </li>

            <li>
                Actividades: <br>
                El Planetario Halley ofrece una gran variedad de actividades a sus visitantes, algunas de ellas son las siguientes:
            </li>
        </ul>
        <hr />
    </div>

    <div class="seccion_2" id="s2">

        <table class="table-borderes">

            <tr>

                <th> Nombre de la actividad</th>

                <th> Edad nesesario para participar</th>

            </tr>

            <tr>

                <td> Actividades educativas para niños </td>

                <td> Todo publico </td>

            </tr>

            <tr>

                <td> Clases de astronomia </td>

                <td> Todo publico </td>

            </tr>
        </table>
        <hr />
    </div>
</body>
</html>
