@{ 
    ViewBag.title = "Información Basica Planetario";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.title</title>
    <meta charset="utf-8" />
    @Styles.Render("~/Utils/css")
</head>
<body>
    <span class="titulo">
        Planetario Halley
    </span>


    <style>
        .carousel-item {
            height: 32em;
            background: #777;
            color: white;

        }

        .container {

            bottom: 0;
            left: 0;
            right: 0;
            padding-bottom: 50px;
        }
    </style>


    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <h1>Ejemplo titulo 1</h1>
                    <p>texto texto texto texto texto</p>
                    <a href="#" class="btn btn-lg btn-primary">Boton</a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <h1>Ejemplo titulo 1</h1>
                    <p>texto texto texto texto texto</p>
                    <a href="#" class="btn btn-lg btn-primary">Boton</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex flex-wrap align-items-center">
        <div class="col-md-4">
            <span class="titulo">Mision</span>
            <p align="justify">
                Construir comunidades alrededor del
                conocimiento científico, artístico y tecnológico,
                donde la diversidad de saberes y la comunicación con
                nuestros públicos incidan en la transformación de la
                sociedad por medio de un diálogo horizontal e incluyente.
            </p>
        </div>
        <div class="text-center col-sm-6 col-md-4">
            <img src="~/Utils/images/img-01.png" alt="Logo planetario" class="img-fluid">
        </div>
        <div class="col-sm-6 col-md-4">
            <span class="titulo">Vision</span>
            <p align="justify" class="parrafo">
                En el Planetario Halley buscamos estimular los procesos creativos
                y el interés por el quehacer científico en el país,
                a través de la exploración de diversos lenguajes de comunicación.
                Con este propósito, queremos construir una red interdisciplinaria
                en las áreas de divulgación y educación a través del fortalecimiento
                de los espacios y canales que posibilitan el diálogo y el intercambio
                a nivel local e internacional.
            </p>
        </div>
    </div>

</body>
</html>