@{
    ViewBag.Title = "Cuestionarios";
}

<!DOCTYPE html>
<html>
<head>
    <title>Cuestionario</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Utils/css/main.css">
</head>
<body>
    <span class="titulo"> Cuestionarios </span>
    <table class="table table-hover table-responsive">
        <tr>
            <th>Actividad</th>
            <th>Categoria</th>
            <th>Día que se imparte</th>
            <th>Detalles</th>
        </tr>
        @foreach (Planetario.Models.CuestionarioModel cuestionario in ViewBag.Cuestionarios)
        {
            <tr>
                <td>@cuestionario.NombreCuestionario</td>
                <td>@Html.ActionLink("hacer cuestionario", "verCuestionario", "Cuestionario", new { link = @cuestionario.NombreCuestionario.ToString() }, null)</td>
            </tr>
        }
    </table>

</body>
</html>