<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Utils/css/ahorcado.css"> 
    <title>Juego de Ahorcado</title>
</head>

<body>
    <div class="wrapper">
        <h1>Ahorcado</h1>
    </div>
    <div class="wrapper">
        <div id="buttons">
        </div>
        <p id="catagoryName"></p>
        <div id="hold">
        </div>
        <p id="mylives"></p>
        <p id="clue">Pista</p>
        <canvas id="stickman">This Text will show if the Browser does NOT support HTML5 Canvas tag</canvas>
        <div class="container">
            <button id="hint">Pista</button>
            <button id="reset">Nuevo juego</button>
        </div>

        <script type="text/javascript" src="~/Utils/js/ahorcado.js"></script>
</body>
</html>