<body>
    <span class="titulo">¡Conecta los Planetas!</span>
    <div class="justify-content-center" style="width:1110px;margin:auto;">
        <iframe width="1110" height="750" frameborder="0" src="https://es.educaplay.com/juego/11071162-conecta_los_planetas.html%22%3E"></iframe>
    </div>
    <hr />
</body>

