<body>
    <br />
    <span class="titulo">Juegos educativos</span>

    <div class="row rows-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="https://www.htmlgames.com/uploaded/thumb/spaceconnect300200.jpg" class="card-img-top" style="object-fit: cover; height: 240px;" />
                <div class="card-body">
                    <h5 class="card-title">Space Connect</h5>
                    <p class="card-text">Conecte 2 de los mismos elementos con una ruta con no más de dos ángulos de 90 grados</p>
                </div>
                <div class="card-footer">
                    <p>Dificultad: Fácil</p>
                </div>
                <a href="@Url.Action("SpaceConnect","Juegos")" class="hidden stretched-link"></a>
            </div>

        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://www.htmlgames.com/uploaded/thumb/spaceconnect300200.jpg" class="card-img-top" style="object-fit: cover; height: 240px;" />
                <div class="card-body">
                    <h5 class="card-title">Space Connect</h5>
                    <p class="card-text">texto</p>
                </div>
                <div class="card-footer">
                    <p>texto</p>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://www.htmlgames.com/uploaded/thumb/spaceconnect300200.jpg" class="card-img-top" style="object-fit: cover; height: 240px;" />
                <div class="card-body">
                    <h5 class="card-title">Space Connect</h5>
                    <p class="card-text">texto</p>
                </div>
                <div class="card-footer">
                    <p>texto</p>
                </div>
            </div>

        </div>
    </div>


</body>