<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/Utils/css/memoria.css">

    <title>Juego de Memoria</title>
</head>

<body>
    <br><br><br><br><br><br><br>
    <h1 id="fin"></h1>
    <div id="memory_board"></div>
    <h3 id="autor"></h3>
    <div>
        <button onclick="iniciar()">Reiniciar</button>
    </div>
    <script type="text/javascript" src="~/Utils/js/memoria.js"></script>

</body>

</html>

