@{
    ViewBag.Title = "Juegos";
}

<!DOCTYPE html>
<html>
<head>
    <title>Juegos</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Utils/css/main.css">
    <style>
        img {
            border-radius: 0.5em;
            border: 2px solid #133b5c;
            box-shadow: 0px 0px 0px #ccc;
            height: 200px;
            width: 200px;
            object-fit: cover;
        }
        .col {
            margin-bottom: 1em;
        }

        .card {
            margin: 1%;
            border-radius: 15%;
            border-color: #133b5c;
            border-width: .15em;
            box-shadow: 3px 7px #133b5c;
        }

        .center-h {
            justify-content: center;
        }

        .center-v {
            align-items: center;
        }

    </style>
</head>



<body>
    <br />
    <h1 style="text-align:center">Aprende jugando!!!</h1>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 text-center center-h center-v">
            <div class="card">
                <div class="col">
                    <img src="~/Utils/images/imagenSistemaSolar.png">
                </div>
                <div class="col">
                    <h2>Titulo</h2>
                    <p>Arma el sistema solar!!!!</p>
                    <br />
                    <h4>Descripcion</h4>
                    <p>El sistema solar se derrumbó ¡Ayudanos reparandolo y poniendolo en orden!</p>
                    <a href="~/Juegos/rompecabezas" class="hidden stretched-link"></a>
                    <br />
                </div>
            </div>

            <div class="card">
                <div class="col">
                    <img src="~/Utils/images/memoria.png">
                </div>
                <div class="col">
                    <h2>Titulo</h2>
                    <p>Memoria estelar!!!</p>
                    <br />

                    <h4>Descripcion</h4>
                    <p>Pon a prueba tu memoria mientras aprendes los nombres de los planetas de manera divertida.</p>
                    <a href="~/Juegos/memoria" class="hidden stretched-link"></a>
                    <br />
                </div>
            </div>

            <div class="card">
                <div class="col">
                    <img src="~/Utils/images/ahorcado.png">
                </div>
                <div class="col">
                    <h2>Titulo</h2>
                    <p>Salva al astronauta</p>
                    <br />

                    <h4>Descripcion</h4>
                    <p>El astronauta esta en problemas, ayudalo mostrando tus conocimientos !!!</p>
                    <a href="~/Juegos/ahorcado" class="hidden stretched-link"></a>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div style="margin-top:100px"></div>
</body>
</html>