<body>
    <div class="container">
        <div class="">
            <span class="titulo">Space Connect</span>
            <div class="col">
                <div class="justify-content-center" style="width:800px;margin:auto;">
                    <script src="https://cdn.htmlgames.com/embed.js?game=SpaceConnect&amp;bgcolor=white%22%3E"></script>
                </div>
            </div>
        </div>
        <hr />
    </div>
</body>