
<!DOCTYPE html>
<html>

<head>
    <title>Preguntas Frecuentes</title>
    <meta charset="utf-8" />
</head>

<body>
    <div class="container">
        <h1 style="color:#151C5A"><strong>Preguntas Frecuentes</strong></h1>
        <div class="container">
            <div id="preguntas" class="tab-pane fade in active">

                <h4>Aquí podrá encontrar una lista de preguntas divididas por categoría y tópicos sobre temas de mayor curiosidad sobre la astronomía.</h4>
                <h4>Planetario Halley se preocupa por que la información esté al alcance de todos.</h4>
                <br />

            </div>
        </div>
    </div>
</body>
</html>
