@model Planetario.Models.FuncionarioModel
@{
    var listaFuncionarios = ViewBag.listaFuncionarios;
    var cantidadFuncionarios = ViewBag.listaFuncionarios.Count;
}
<head>
    <link href="~/Styles/ListaFuncionarios.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Utils/css/main.css">
</head>
<span class="titulo">
    Funcionarios
</span>
<div class="container-fluid" style="width:100%">
    @for (var indexFuncionario = 0; indexFuncionario < cantidadFuncionarios;)
    {
        <div class="row">
            @for (var maxIndexFila = indexFuncionario + 1; indexFuncionario <= maxIndexFila; ++indexFuncionario)
            {
                if (indexFuncionario < cantidadFuncionarios)
                {
                    <div class="col" style="padding: 7%;">
                        <div class="card text-center" style="box-shadow: 10px 10px 8px #888888">
                            @{
                                var Funcionario = listaFuncionarios[indexFuncionario];
                                var NombreAMostrar = Funcionario.Titulo + " " + Funcionario.Nombre;
                            }
                            <img src=@Url.Action("ObtenerImagen", "Funcionarios", new { cedula = Funcionario.Cedula }) class="mx-auto" style="display:block;width:200px;height:200px;">
                            <div class="card-body">
                                <div class="card-title">
                                    <p> <strong>@NombreAMostrar                   </strong> </p>
                                </div>
                                
                                <p class="card-text"> <strong>@Funcionario.RolTrabajo           </strong> </p>
                                <p class="card-text"> <strong>@Funcionario.CorreoContacto       </strong> </p>
                                <p class="card-text">
                                    Trabaja aquí desde:
                                    <strong>@Funcionario.FechaIncorporacion   </strong>
                                </p>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row"></div>
                
                }
            }
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
