@model Planetario.Models.FuncionarioModel
@{
    var listaFuncionarios = ViewBag.listaFuncionarios;
    var cantidadFuncionarios = ViewBag.listaFuncionarios.Count;
}
<head>
    <link href="~/Styles/ListaFuncionarios.css" rel="stylesheet" type="text/css" />
    <link href="~/Utils/css/background.css" rel="stylesheet" type="text/css" />
</head>
<h1>Funcionarios</h1>
<table class="table" style="width:100%">
    @for (var indexFuncionario = 0; indexFuncionario < cantidadFuncionarios;)
    {
        <tr>
            @for (var maxIndexFila = indexFuncionario + 1; indexFuncionario <= maxIndexFila; ++indexFuncionario)
            {
                if (indexFuncionario < cantidadFuncionarios)
                {
                    <td style="padding-left: 7%; padding-right: 7%;">
                        <div class="jumbotron text-center" style="box-shadow: 10px 10px 8px #888888">
                            @{
                                var Funcionario = listaFuncionarios[indexFuncionario];
                                var NombreAMostrar = Funcionario.Titulo + " " + Funcionario.Nombre;
                            }

                            <p> <strong>@Funcionario.RolTrabajo           </strong> </p>
                            <p> <strong>@NombreAMostrar                   </strong> </p>
                            <p> <strong>@Funcionario.CorreoContacto       </strong> </p>
                            <p>
                                Trabaja aquí desde:
                                <strong>@Funcionario.FechaIncorporacion   </strong>
                            </p>
                            
                            <img src=@Url.Action("ObtenerImagen", "Funcionarios", new { cedula = Funcionario.Cedula }) style="width:200px;height:200px;">
                        </div>
                    </td>
                }
                else
                { 
                    <td></td>
                }
            }
        </tr>
    }
</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
